
@font-face {
    font-family:"Favorit Bold";
    src:url("Favorit-Bold.woff2") format("woff2"),url("Favorit-Bold.woff") format("woff"),url("Favorit-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        