
@font-face {
    font-family:"Favorit Light";
    src:url("Favorit-Light.woff2") format("woff2"),url("Favorit-Light.woff") format("woff"),url("Favorit-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        