
@font-face {
    font-family:"Favorit Medium";
    src:url("Favorit-Medium.woff2") format("woff2"),url("Favorit-Medium.woff") format("woff"),url("Favorit-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        