
@font-face {
    font-family:"TisaOT-ThinIta";
    src:url("FF Tisa OT Thin Italic.woff2") format("woff2"),url("FF Tisa OT Thin Italic.woff") format("woff"),url("FF Tisa OT Thin Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        