
@font-face {
    font-family:"TisaOT-Medi";
    src:url("FF Tisa OT Medium.woff2") format("woff2"),url("FF Tisa OT Medium.woff") format("woff"),url("FF Tisa OT Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        