$font-primary: (
	font-family: (
		FFTisaOT,
		serif
	),
	load: true,
	weights: (
		'Light': 100,
		'Regular': 400,
		'Medium': 500,
		'Bold': 600
	),
	path: '~/cmd-project-1-jaar-3/fonts',
	files: (
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'p',
		'body'
	),
	types: (
		'normal',
		'italic'
	)
);

$font-secondary: (
	font-family: (
		Favorit,
		serif
	),
	load: true,
	weights: (
		'Light': 100,
		'Regular': 400,
		'Medium': 500,
		'Bold': 600
	),
	path: '~/cmd-project-1-jaar-3/fonts',
	files: (
		'woff2',
		'ttf',
		'eot'
	),
	use: (
		'h1',
		'h2',
		'h3',
		'h4',
		'h5',
		'h6'
	),
	types: (
		'normal'
	)
);
