p + p,
p + .text,
.text + p,
.text + p,
.text + .text {
	margin-top: 1rem;
}

h2,
h3 {
	& + .text {
		display: block;
		margin-top: 20px;
	}
}

h2 + h3 {
	margin-top: 1rem;
}

p,
.text {
	& + .button {
		margin-top: 2rem;
	}
}

.featured-categories--intro h2 {
	margin: 0;
}

h2 + span {
	margin-top: rem(20);
}
